.aero-coins {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.coins-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconChev {
  transform: rotate(90deg);
  cursor: pointer;
}
